ci:
  autoupdate_schedule: weekly
  skip: []
  submodules: false

default_stages:
- commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-toml
    - id: check-xml
    - id: check-yaml
    - id: debug-statements
    - id: check-builtin-literals
    - id: check-case-conflict
    - id: check-docstring-first
    - id: detect-private-key
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
    - id: django-upgrade
      args: [--target-version, "5.0"]
  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
    - id: check-json5
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
    - id: ruff-check
      args: [--fix, --exit-non-zero-on-fix]
    - id: ruff-format
  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.36.4
    hooks:
    - id: djlint-reformat-django
    - id: djlint-django
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.0
    hooks:
    - id: commitizen
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.1
    hooks:
    -   id: pyupgrade
        args: [--py36-plus,--py37-plus,--py38-plus,--py39-plus,--py310-plus,--py311-plus,--py312-plus]
